html {
    height: 100%;
}

body {
    font-family: monospace;
    height: 100%;
    margin: 0;
}

h1 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 20px;
    margin: 0;
    margin-top: 5px;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: grid;
    width: 100%;
    grid-template-columns: 30px 1fr 90px 90px;
    grid-column-gap: 10px;
}

select {
    max-width: 360px;
}

.cards {
    display: grid;
    column-gap: 5px;
    width: 100%;
    background-color: white;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    min-height: 100px;
    margin-top: 5px;
    padding: 10px 10px;
}

.info-block {
    display: block;
    width: 100%;
}

.image-info {
    display: flex;
    justify-content: center;
    width: 100%;
}

.identity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.second {
    display: block;
    text-align: justify;
}

#image {
    width: 200px;
    height: 200px;
}

img {
    border-radius: 20px;
}